<!DOCTYPE html>
<html>

<head>
<title>Bill</title>

<style>

body{
font-family:Arial;
background:#f3f1ed;
}

.container{
max-width:400px;
margin:auto;
padding:20px;
background:white;
margin-top:40px;
border-radius:10px;
}

button{
width:100%;
padding:12px;
background:#6f4e37;
color:white;
border:none;
border-radius:6px;
margin-top:15px;
}

</style>

</head>

<body>

<div class="container">

<h2>Bill</h2>

Table {{order.table_id}}

<br><br>

Item: {{order.item}}

<br><br>

Total: ₹200

<form action="/pay" method="post">

<button>
Pay Now
</button>

</form>

</div>

</body>

</html>