<!DOCTYPE html>
<html>

<head>

<title>Order Confirmed</title>

<style>

body{
font-family:Arial;
background:#f3f1ed;
}

.container{
max-width:450px;
margin:auto;
background:white;
padding:30px;
margin-top:60px;
border-radius:10px;
text-align:center;
}

h1{
color:#6f4e37;
}

button{
margin-top:20px;
padding:12px 20px;
background:#6f4e37;
color:white;
border:none;
border-radius:6px;
}

</style>

</head>

<body>

<div class="container">

<h1>Order Confirmed ☕</h1>

<p>Your order has been sent to the kitchen.</p>

<p>Please relax while we prepare it.</p>

<a href="/menu/{{table}}?name={{name}}&phone={{phone}}">
    <button>
    Order More
    </button>
    </a>

</div>

</body>

</html>