<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Thank You | Three Beans</title>
<link rel="stylesheet" href="/static/base.css">
<link rel="stylesheet" href="/static/thankyou.css">

</head>

<body>

    <div class="container">

        <div class="success-check">
        ✔
        </div>
        
        <div class="icon">
        ☕
        </div>
        
        <h1>Thank You</h1>

<p class="message">
We truly appreciate your visit to <strong>Three Beans</strong>.
</p>

<p class="sub">
Great coffee and great conversations are what we strive for every day.
We hope to welcome you again soon.
</p>


</div>

</body>

</html>